h1 {
    color: rgb(226, 194, 255);
}

p {
    background-color: rgb(56, 30, 80);
    border: 2px solid rgb(202, 158, 244);
}

h2 {
    color: rgb(202, 158, 244);
    font-size: 40px;
    text-transform: uppercase;
}